body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

a { text-decoration: none; }
a:focus { outline: 0px; }

body {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 12px;
  color: #424242;
  background-color: #eceeef;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

header,
nav,
footer,
section,
article,
div {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

main {
  z-index: 1;
  margin-top: -1px;
  position: relative;
  width: 100%;
  height: 100%;
}
.jumbo-header__dynamic, .jumbo-header__static {
  position: absolute;
  width: 100%;
  /* height: 100%; */
}

header {
  width: 100%;
  z-index: 3;

  display: flex;
  align-items: center;
  justify-content: left;

  background-color: #68c7c1;
  min-height: 56px;
  transition: min-height 0.3s;
}
header a .logo {
  height: 25px;
  margin-left: 10px;
}
header #menu {
  margin-left: auto;
  margin-right:10px;
  color: #eceeef;
  font-size: 2em;
}

.nav {
  width: 100%;
  height: auto;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  background-color: #68c7c1;
}
.nav-sm, .nav-lg { display: none; }
.nav-sm.open {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: calc(100% - 56px);
  margin-top: -2px;
}

.nav__list, .nav__item {
  width: 100%;
}
.nav__list {
  display: flex;
  flex-wrap: wrap;
}
.nav__item {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.nav__item a {
  text-decoration: none;
  text-align: center;
  font-size: 1.2em;
  color: #eceeef;
}
.nav-sm.open {
  position: absolute;
  -webkit-animation: slide-down .3s linear;
  -moz-animation: slide-down .3s linear;
}
.nav-sm.open .nav__item{
  padding-bottom: 80px;
  font-size: 2em;
}

.nav-sm.open .nav__item:nth-child(1) {
  -webkit-animation: slide-down .3s .1s linear;
  -moz-animation: slide-down .3s .1s linear;
}

.nav-sm.open .nav__item:nth-child(2) {
  -webkit-animation: slide-down .3s .2s linear;
  -moz-animation: slide-down .3s .2s linear;
}

.nav-sm.open .nav__item:nth-child(3) {
  -webkit-animation: slide-down .3s .3s linear;
  -moz-animation: slide-down .3s .3s linear;
}

.jumbo-header {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;

  background: rgb(104,199,193);
  background: linear-gradient(180deg, rgba(104,199,193,1) 0%, rgba(160,220,216,1) 35%, rgba(236,238,239,1) 100%);
}
.jumbo-header__static {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 150px;
}
.jumbo-header__static .header-logo {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-image: url("../images/profilePhoto_transparency.png");
  background-position: center;
  background-size: cover;
  margin: 50px 0 50px;
}
.jumbo-header__static h1 {
  color: #1f3b39;
  margin: 0px 10px 10px 10px;
  font-family: 'Montserrat Alternates', sans-serif;
  text-align: center;
  font-size: 2.5em;
}

#myWorks {
  display: flex;
  flex-wrap: wrap;
  background-color: #eceeef;
  padding: 80px 24px;
}

.container { width: 100%; }
.container h1,
.container h2 {
  margin-bottom: 24px;
  text-align: center;
}
.container h1 { font-size: 3em; }
.container h2 {
  font-size: 2em;
  font-weight: normal;
}

.project-grid { margin: 32px 0 64px; }

.works {
    margin: 0 0 20px;
    overflow: hidden;
    float: left;
    position: relative;
    width: 100%;
}
.works picture img { width: 100%; }
.works picture .more:hover {
    cursor: pointer;
}
.works .more {
  float: left;
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 1.5em;
  color: #eceeef;
  background-color: rgba(0,0,0, 0.65);
  padding: 5px 10px;
  filter:alpha(opacity=65);
  border-radius: 10px;
  border: 1px solid #68c7c1;
  transition: opacity 0.3s;
  z-index: 2;
}
.works .more:hover { opacity: 0;}
.works .more:hover ~ .desc {
    display: block;
    font-size: 1.2em;
    /* opacity: 0.75; */
    background-color: rgba(0,0,0, 0.75);
    color: #eceeef;
    position: absolute;
    bottom: 5px;
    left: 0px;
    padding: 10px;
    margin: 0;
    width: 100%;
    border-top: 1px solid #68c7c1;
    z-index: 1;
    height: auto;
    -webkit-animation: slide-up .3s linear;
    -moz-animation: slide-up .3s linear;
}
.works .desc { display: none; }
.works .desc h3 { color: #68c7c1; }




footer ul {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
footer a { padding: 0; }
footer span { display: none; }

@media only screen and (orientation: landscape) {
  .jumbo-header__static { margin-top: 28px; }
}

@media screen and (min-width: 425px)
{
  body {
    margin-left: auto;
    margin-right: auto;
  }

  h1.header__title { font-size: 2em; }

  footer ul { justify-content: left; }
  footer span { display: block; }
  footer .placeholder { display: none; }

  .nav { position: relative; }

  #menu { display: none; }
  .nav-sm { display: none !important; }

  .nav-lg {
    display: flex;
    flex-wrap: nowrap;
  }
  .nav__list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }
  .nav__item > a {
    font-size: 1.3em;
  }
  .nav__item > a:hover {
    color: #68c7c1;
    font-weight: bold;
    letter-spacing: 1.2px;
  }

  .jumbo-header__static .header-logo {
    margin: 25px 0 25px;
  }
}
@media screen and (min-width: 768px)
{
  .works {
    width: calc(50% - 20px);
    margin: 10px;
  }
}
/*
@media screen and (min-width: 1024px)
{
  .jumbo-header h1 {
    text-align: center;
  }
} */


@-webkit-keyframes slide-down {
      0% { opacity: 0; -webkit-transform: translateY(-100%); }
    100% { opacity: 1; -webkit-transform: translateY(0%); }
}
@-moz-keyframes slide-down {
      0% { opacity: 0; -moz-transform: translateY(-100%); }
    100% { opacity: 1; -moz-transform: translateY(0%); }
}
@-webkit-keyframes slide-up {
      0% { opacity: 0; -webkit-transform: translateY(100%); }
    100% { opacity: 1; -webkit-transform: translateY(0%); }
}
@-moz-keyframes slide-up {
      0% { opacity: 0; -moz-transform: translateY(100%); }
    100% { opacity: 1; -moz-transform: translateY(0%); }
}
