body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

a { text-decoration: none; }
a:focus { outline: 0px; }

body {
  font-family: Roboto;
  font-size: 12px;
  color: #424242;
  background-color: #eceeef;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

header,
nav,
footer,
section,
article,
div {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

main {
  z-index: 1;
  margin-top: -1px;
  position: relative;
  width: 100%;
  height: 100%;
}
.jumbo-header__dynamic, .jumbo-header__static {
  position: absolute;
  width: 100%;
  /* height: 100%; */
}

header {
  width: 100%;
  z-index: 3;

  display: flex;
  align-items: center;
  justify-content: left;

  background-color: #68c7c1;
  min-height: 56px;
  transition: min-height 0.3s;
}
header a .logo {
  height: 25px;
  margin-left: 10px;
}
header #menu {
  margin-left: auto;
  margin-right:10px;
  color: #eceeef;
  font-size: 2em;
}

.nav {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  background-color: #68c7c1;
}
.nav-sm, .nav-lg { display: none; }
.nav-sm.open {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: calc(100% - 56px);
  margin-top: -2px;
}

.nav__list, .nav__item {
  width: 100%;
}
.nav__list {
  display: flex;
  flex-wrap: wrap;
}
.nav__item {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.nav__item a {
  text-decoration: none;
  text-align: center;
  font-size: 1.2em;
  color: #eceeef;
}
.nav-sm.open .nav__item a {
  padding-bottom: 80px;
  font-size: 2em;
}

.jumbo-header {
  width: 100%;
  height: 100%;

  background: rgb(104,199,193);
  background: linear-gradient(180deg, rgba(104,199,193,1) 0%, rgba(160,220,216,1) 35%, rgba(236,238,239,1) 100%);
}
.jumbo-header__static {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 150px;
}
.jumbo-header__static picture {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 50px 0 50px;
}
.jumbo-header__static .header-logo {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-image: url("../images/profilePhoto_transparency.png");
  background-position: center;
  background-size: cover;
  margin: 50px 0 50px;
}
.jumbo-header__static h1 {
  color: #1f3b39;
  margin: 0px 10px 10px 10px;
  font-family: 'Montserrat Alternates', sans-serif;
  text-align: center;
}
h1 { font-size: 2.5em; }

footer ul {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
footer a { padding: 0; }
footer span { display: none; }

@media screen and (min-width: 425px)
{
  body {
    margin-left: auto;
    margin-right: auto;
  }

  h1.header__title { font-size: 2em; }

  footer ul { justify-content: left; }
  footer span { display: block; }
  footer .placeholder { display: none; }

  .nav { position: relative; }

  #menu { display: none; }
  .nav-sm { display: none !important; }

  .nav-lg {
    display: flex;
    flex-wrap: nowrap;
  }
  .nav__list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }
  .nav__item > a { font-size: 1.3em; }
  .nav__item > a:hover {
    color: #68c7c1;
    font-weight: bold;
    letter-spacing: 1.2px;
  }

  .jumbo-header h1 {
    font-size: 4em;
  }
}
@media screen and (min-width: 1024px)
{
  .jumbo-header h1 {
    font-size: 5em;
  }
}
@media screen and (min-width: 2048px)
{
  .jumbo-header h1 {
    font-size: 6em;
  }
}
